<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>

    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist/swagger-ui.css" />
    <style>
        .topbar { display: none !important; }
        #swagger-container { margin: 20px; }
        #swagger-ui {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 10px;
        }
    </style>
</head>
<body>

    <div id="swagger-container">
        <div id="swagger-ui"></div>
    </div>

    <script src="https://unpkg.com/swagger-ui-dist/swagger-ui-bundle.js"></script>
    <script src="https://unpkg.com/swagger-ui-dist/swagger-ui-standalone-preset.js"></script>

    <script>
        // Function to get CSRF token from cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie) {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        window.onload = function() {
            SwaggerUIBundle({
                url: "/static/swagger/swagger.yaml", // Path to the YAML file
                dom_id: "#swagger-ui",
                presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
                layout: "StandaloneLayout",
                requestInterceptor: function(request) {
                    const csrfToken = getCookie("csrftoken");
                    if (csrfToken && request.method !== "GET") {
                        request.headers["X-CSRFToken"] = csrfToken; // Add CSRF token to headers
                    }
                    return request;
                }
            });
        };
    </script>

</body>
</html>
